@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&family=Roboto:ital,wght@0,700;1,400&display=swap');

/* BucketList styling */
.notepad-styling {
    background-color: #f5f5f5;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
.bucket-list-title {
    color: #cd0000;
    font-size: 2rem;
    letter-spacing: -2px;
    text-align: left;
    font-family: 'Gochi Hand';
}
.list-items {
    color: #555;
    font-size: 1rem;
    padding: 0 !important;
    width: 90%;
    font-family: 'Gochi Hand', sans-serif;
    border: 1px solid #dedede;
}
.list-items li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    font-family: 'Gochi Hand', sans-serif;
}
.list-items li:hover {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}
.lines {
    border-left: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height:fit-content;
    margin-left: 3rem;
}

/* BucketList styling END*/

/* Send-email form  */

#send-list-by-email {
    margin: auto;
}

/* Send-email form END */

/* General paddings/Margins/fonts */
.center-content {    
    margin: 0 auto;
}

.main-title-color {
    color: #f5f5f5;
}

/* General paddings/Margins End */